body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-size: 16pt;
    font-family: sans-serif;
    background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-weight: 100;
}

input {
    padding: 10px 15px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input[type="number"] {
    width: 6em;
    font-size: 16pt;
}

.shell-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    
    background-color: #414656;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    z-index: 3;
}

.side-stage-trigger {
    color: white;
    font-size: 10pt;
    position: absolute;
    right: 0;
    top: 15px;
    right: 15px;
}

.side-stage-focused {
    height: 100%;
    overflow: hidden;
}

.app {
    position: relative;
    transition: left 0.5s;
    left: 0;
}

.side-stage-focused .app {
    left: -300px;
    overflow: hidden;
}

.side-stage {
    position: absolute;
    width: 300px;
    right: -300px;
    transition: right 0.5s;
    top: 0;
    bottom: 0;
    padding: 50px 10px 0 10px;
    box-sizing: border-box;
    background-color: #373F51;
    color: white;
}

.side-buttons .pure-button {
    display: block;
    margin-bottom: 15px;
}

.side-stage-focused .side-stage {
    right: 0;
}

.app-logo {
    color: white;
    font-size: 13pt;
    padding: 12px 0 10px 15px;
}

.tabs {
    padding: 53px 15px 0 15px;
    background-color: #EBEDF4;
}

.new-species {
    display: block;
    width: 100%;
    font-size: 75%;
    border-radius: 5px;
}

.specie-header {
    font-size: 9pt;
    text-transform: uppercase;
    border-bottom: 1px solid #777;
    padding: 10px 0;
    margin: -10px 15px 15px 0;
}

.tabs-list {
    padding: 0;
    margin: 15px 0 0 0;
}

.tabs-list li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 11pt;
}

.tabs-list li:hover {
    border: 1px solid #aaa;
}

.tabs-list li:active {
    border: 1px solid red;
}

.tabs-list .active {
    background-color: #373F51;
    border-color: #1b1b1b;
    color: #EBEDF4;
}

.tabs-list .active:hover {
    color: #fff;
    border: 1px solid #1b1b1b;
}

.tabs-list .new {
    padding: 0;
    border: none;
}

.tabs-list .new button {
    display: block;
}

.tabs-list .new:hover {
    border: none;
}

.data {
    position: relative;
    padding: 15px;
}

.specie {
    position: absolute;
    margin-right: -15px;
    opacity: 0;
    transition: opacity .2s;
    top: 0;
    overflow: hidden;
    max-width: 100%;
}

.specie.visible {
    position: relative;
    opacity: 1;
    z-index: 1;
    transition: opacity .2s;
    transition-delay: .2s;
    overflow: visible;
    max-width: 110%;
}

.group {
    margin-bottom: 30px;
}


.group-efforts {
    overflow: auto;
}

.group-efforts-inner {
    font-size: 0;
}

.group-summary {
    margin: 5px;
}

.group-plot {
    background-color: #eee;
    width: 320px;
    clear: right;
    font-size: 13pt;
    margin: 5px 5px 5px 2px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    max-width: 320px;
    transition: .2s;
}

.group-summary {
    background-color: #eee;
    width: 320px;
    clear: right;
    font-size: 13pt;
    margin: 5px 5px 5px 2px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    max-width: 320px;
    transition: .2s;
}

.group-summary table {
    margin: 0 auto;
    border-spacing: 3em 0;
}
.group-summary tr {
    text-align: left;
}
.group-summary td {
    margin: 10px;
}

.effort {
    background-color: #eee;
    width: 150px;
    float: left;
    font-size: 13pt;
    margin: 5px 5px 5px 2px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    max-width: 300px;
    transition: .2s;
}

.effort table {
    margin: 5px auto;
}

.new-effort {
    max-width: 0;
    overflow: hidden;
    opacity: 0;
}

.placeholder {
    background-color: #FFFEE0;
    position: relative;
    color: #999;
    cursor: pointer;
}

.placeholder:hover {
    background-color: #FFFF83;
    color: #333;
}
.placeholder:hover * {
    opacity: 0;
}

.placeholder:after {
    content: "+";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    font-size: 120px;
    line-height: 0;
    text-align: center;
    display: block;
    width: 100%;
    font-weight: bold;
    color: inherit;
    text-shadow: 0 0 10px #fff;
}

.placeholder * {
    opacity: 0.05;
}

.footer {
    
    position: relative;
}

.red {
    color: #800;
}

.settings-box {
    font-size: 13pt;
    padding: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    text-align: center;
    max-width: 300px;
    transition: .2s;
    border-bottom: 1px solid #A9BCD0;
}
/*
.algorithm {
    background-color: #eee;
    width: 200px;
    font-size: 13pt;
    margin: 15px 10px 15px 0;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    max-width: 300px;
    transition: .2s;
}
*/

[name=confidence-val] {
    width: 100px;
    text-align: center;
}

.confident {
    background: #aea;
}

.button-xxsmall {
    font-size: 60%;
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

[contenteditable="true"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;  
    width: 398px;  
    padding-left: 10px;
    padding-right: 10px;
}